<html>
<h2>About</h1>
<p>
  We, at <i>A Clean Space</i> are a group of motivated individauls looking to provide a solution to humanitys
  ever growing carbon footprint. We want to decrease the information gap among our consumers and encourse them,
  through friendly competition and incentives, to take action in their communities.
</p>
<h2>Mission</h2>
<p>
  Our Mission at <i>A Clean Space</i> is to help our users create a more friendly and sustainable community.
</p>
<h2>Values</h3>
  <ul>
    <li>Sustainability</li>
    <li>Community Support and Engagment</li>
    <li>Volunteerism</li>
    <li>Reduced Carbon Footprint</li>
    <li>Diversity and Inclusion</li>
  </ul>
<h2>Creators</h4>
<p>
  <div class="card-deck">
<div class="card" style="width: 10rem;">
  <img class="card-img-top" src="..." alt="Jose">
  <div class="card-body">
    <h5 class="card-title">Jose Chavez</h5>
    <p class="card-text">Computer Science Major at Stanislaus</p>
    <a href="#" class="btn btn-primary">Linkedin</a>
  </div>
</div>
<div class="card" style="width: 10rem;">
  <img class="card-img-top" src="..." alt="Mark">
  <div class="card-body">
    <h5 class="card-title">Mark Gamez</h5>
    <p class="card-text">Computer Science Major at Stanislaus</p>
    <a href="#" class="btn btn-primary">Linkedin</a>
  </div>
</div>
  </div>
  <div class="card-deck">
<div class="card" style="width: 10rem;">
  <img class="card-img-top" src="..." alt="Ismeal">
  <div class="card-body">
    <h5 class="card-title">Ismeal Figueroa</h5>
    <p class="card-text">Computer Science Major at Merced College</p>
    <a href="#" class="btn btn-primary">Linkedin</a>
  </div>
</div>
<div class="card" style="width: 10rem;">
  <img class="card-img-top" src="..." alt="Ruben">
  <div class="card-body">
    <h5 class="card-title">Ruben Nunez</h5>
    <p class="card-text">Computer Sceince Major at Merced college</p>
    <a href="#" class="btn btn-primary">Linkedin</a>
  </div>
</div>
  </div>
</p>

</html>
