<html>
<h1>About</h1>
<p>We are a group of friends working to help find solutions to a major problem effecting our world togethere
  with the help of everyone who want to join in on the phone.
</p>
<h2>Mission</h2>
<p>Our Mission at <i>A Clean Space</i> is to tackle pollution by incorperating a point system that rewards players to
  continue and encourage other to participate in recycling. Every month a set of winner will be chosen to recieve
  compensation for all their hard work.
</p>
<h3>Values</h3>
<p>Our Values </p>
<h4>Creators</h4>
<div class="card-deck my-4">
  <div class="card" style="width: 10rem;">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title">Jose Chavez</h5>
          <p class="card-text">Computer Science Major at Stanislaus</p>
        </div>
        <div class="col">
          <img class="card-img-top" src="static/0.0.jpg" alt="Jose">
        </div>
      </div>
      <a href="#" class="btn btn-primary">Linkedin</a>
    </div>
  </div>
  <div class="card" style="width: 10rem;">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title">Mark Gamez</h5>
          <p class="card-text">Computer Science Major at Stanislaus</p>
        </div>
        <div class="col">
          <img class="card-img-top" src="static/0.0.jpg" alt="Mark">
        </div>
      </div>
      <a href="#" class="btn btn-primary">Linkedin</a>
    </div>
  </div>
</div>
<div class="card-deck my-4">
  <div class="card" style="width: 10rem;">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title">Ruben Nunez</h5>
          <p class="card-text">Computer Science Major at Stanislaus</p>
        </div>
        <div class="col">
          <img class="card-img-top" src="static/0.0.jpg" alt="Ruben">
        </div>
      </div>
      <a href="#" class="btn btn-primary">Linkedin</a>
    </div>
  </div>
  <div class="card" style="width: 10rem;">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title">Ismeal Figueroa</h5>
          <p class="card-text">Computer Science Major at Merced College</p>
        </div>
        <div class="col">
          <img class="card-img-top" src="static/0.0.jpg" alt="Ismael">
        </div>
      </div>
      <a href="#" class="btn btn-primary">Linkedin</a>
    </div>
  </div>
</div>

</html>