<html>
<h2>About</h1>
<p>
  We, <i>A Clean Space</i>, are a group of motivated individauls looking to provide a solution to humanitys
  ever growing carbon footprint. We want to decrease the information gap among our consumers and encourse them,
  through friendly competition and incentives, to take action in their communities.
</p>
<h2>Mission</h2>
<p>
  Our Mission at <i>A Clean Space</i> is to help our users create a more friendly and sustainable community.
</p>
<h2>Values</h3>
  <ul>
    <li>Sustainability</li>
    <li>Community Support and Engagment</li>
    <li>Volunteerism</li>
    <li>Reduced Carbon Footprint</li>
    <li>Diversity and Inclusion</li>
  </ul>
<h2>Creators</h4>
<div class="card-deck my-4">
  <div class="card" style="width: 10rem;">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title">Jose Chavez</h5>
          <p class="card-text">Computer Science Major at Stanislaus</p>
        </div>
        <div class="col">
          <img class="card-img-top" src="static/0.0.jpg" alt="Jose">
        </div>
      </div>
      <a href="#" class="btn btn-primary my-2">Linkedin</a>
    </div>
  </div>
  <div class="card" style="width: 10rem;">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title">Mark Gamez</h5>
          <p class="card-text">Computer Science Major at Stanislaus</p>
        </div>
        <div class="col">
          <img class="card-img-top" src="static/0.0.jpg" alt="Mark">
        </div>
      </div>
      <a href="#" class="btn btn-primary my-2">Linkedin</a>
    </div>
  </div>
</div>
<div class="card-deck my-4">
  <div class="card" style="width: 10rem;">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title">Ruben Nunez</h5>
          <p class="card-text">Computer Science Major at Stanislaus</p>
        </div>
        <div class="col">
          <img class="card-img-top" src="static/0.0.jpg" alt="Ruben">
        </div>
      </div>
      <a href="#" class="btn btn-primary my-2">Linkedin</a>
    </div>
  </div>
  <div class="card" style="width: 10rem;">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title">Ismeal Figueroa</h5>
          <p class="card-text">Computer Science Major at Merced College</p>
        </div>
        <div class="col">
          <img class="card-img-top" src="static/0.0.jpg" alt="Ismael">
        </div>
      </div>
      <a href="#" class="btn btn-primary my-2">Linkedin</a>
    </div>
  </div>
</div>

</html>
