<html> 
<h1>About</h1>
<p>We are a group of friends working to help find solutions to a major problem effecting our world togethere
  with the help of everyone who want to join in on the phone. 
</p>
<h2>Mission</h2>
<p>Our Mission at <i>A Clean Space</i> is to tackle pollution by incorperating a point system that rewards players to 
  continue and encourage other to participate in recycling. Every month a set of winner will be chosen to recieve 
  compensation for all their hard work. 
</p>
<h3>Values</h3>
<p>Our Values </p>
<h4>Creators</h4>
<p>
  <div class="card-deck">
<div class="card" style="width: 10rem;">
  <img class="card-img-top" src="..." alt="Jose">
  <div class="card-body">
    <h5 class="card-title">Jose Chavez</h5>
    <p class="card-text">Computer Science Major at Stanislaus</p>
    <a href="#" class="btn btn-primary">Linkedin</a>
  </div>
</div>
<div class="card" style="width: 10rem;">
  <img class="card-img-top" src="..." alt="Mark">
  <div class="card-body">
    <h5 class="card-title">Mark Gamez</h5>
    <p class="card-text">Computer Science Major at Stanislaus</p>
    <a href="#" class="btn btn-primary">Linkedin</a>
  </div>
</div>
  </div>
  <div class="card-deck">
<div class="card" style="width: 10rem;">
  <img class="card-img-top" src="..." alt="Ismeal">
  <div class="card-body">
    <h5 class="card-title">Ismeal Figueroa</h5>
    <p class="card-text">Computer Science Major at Merced College</p>
    <a href="#" class="btn btn-primary">Linkedin</a>
  </div>
</div>
<div class="card" style="width: 10rem;">
  <img class="card-img-top" src="..." alt="Ruben">
  <div class="card-body">
    <h5 class="card-title">Ruben Nunez</h5>
    <p class="card-text">Computer Sceince Major at Merced college</p>
    <a href="#" class="btn btn-primary">Linkedin</a>
  </div> 
</div>
  </div>
</p>

</html>