{{#each stories}}

 <div class="container my-4">
    <div class="jumbotron" id={{@index}}>
        <h1 class="display-4 mb-2"> {{this.title}}</h1>
   
    
    
    <p class="lead">{{this.desc}}</p>
        <button class="btn btn-lg btn-success green-gradient">
            
            
    <i class="fas fa-recycle"></i> {{this.category}}</button>

</div> 
   

</div>
{{/each}}