<h1>How You Can Help</h1>
<p>Our goal with <i>A Clean Space</i> is to create a fun and interactive tool for consistent engagemnet with your community. Here's how you can use our service and gain points!</p>

<h3>Posting</h3>
<p>
    Every post you make that other users agree has a positive impact on your community grants you <b>+20</b> points. The hotter your post gets, the more points you generate. Keep it up and you'll find yourself moving up the ladder! 
</p>

<h3>Interactions</h3>
<p>
    As more people verify you posts, you both recieve a small boost in points. By incentivizing both the poster and the user, we hope users will continue to do good in their communities. 
</p>

<h3>Badges</h3>
<p>
    Once you hit certain milestones, you'll earn a badge to show on your profile! You can redeem certain badges for a boost of points as well, so think about whether you want to save them for a rainy day or go for the final push against your rival!

    <ul>Redeemable badges include: 
        <li>50 votes on a post: <b>+20 points</b></li>
        <li>Upvote 15 user posts: <b>+30 points</b></li>
        <li>Top poster 2 months in a row: <b>+25 points</b></li>
        <li>Plus more to come!</li>
    </ul>
    Many might just be happy to collect as many different types of badges. For example, Different states, counties and cities can have their own badges, so traveling users can pick up more points if they want to fill their badge wall.
</p>
<h2>What if you aren't interested in using our platform?</h2>
<p>
    That's perfectly ok! We also can provide information on your recylcable goods and reclycling centers near you!
</p>
