<div class="container my-4">
    <h1 class="display-4">Your Stats</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Score</th>
                <th scope="col">Medals</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">68</th>
                <td>Jose</td>
                <td>Chavez</td>
                <td>70</td>
                <td>
                    <span class="badge badge-success green-gradient p-2"><i class="fas fa-medal"></i></span>
                    <span class="badge badge-success green-gradient p-2"><i class="fas fa-award"></i></span>
                    <span class="badge badge-success green-gradient p-2"><i class="fas fa-shield-alt"></i></span>
                    <span class="badge badge-success green-gradient p-2"><i class="fas fa-trophy"></i></span>
                </td>
            </tr>
        </tbody>
    </table>

    <hr class="my-">
    <h1 class="display-4 mt-4 pt-2">Leaderboard</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>146<span class="badge badge-light"><i class="fas fa-crown"></i></span>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>113</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Lara</td>
                <td>Bird</td>
                <td>98</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>John</td>
                <td>Faern</td>
                <td>92</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Felix</td>
                <td>Beemis</td>
                <td>87</td>
            </tr>
        </tbody>
    </table>
</div>