<div class="container border postBackground">
  <h1 class="postHeader">Post Your Story</h1>
  <form action="/stories" method="POST">
    <div class="form-group postPadding">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" id="title" placeholder="Here is my title!">
    </div>

    <div class="form-group postPadding">
      <label for="desc">Description</label>
      <textarea class="form-control" id="desc" rows="5" name="desc"></textarea>
    </div>

    <div class="form-group postPadding">
      <label for="category">Category</label>
      <input type="text" class="form-control" id="category" name="category" placeholder="Here is my category!">
    </div>

    <div class="postHeader">
      <button type="submit" class="btn btn-primary btn-lg">Submit!</button>
    </div>
  </form>
</div>